Repository querydsl/querydsl, pull requests merged in 2021-01, with the labels that each got.

#2605 [#2504] [#2053] Fix fetchResults for GROUP BY and HAVING in JPQL
  querydsl-core/src/main/java/com/querydsl/core/Fetchable.java
  querydsl-jpa/src/main/java/com/querydsl/jpa/impl/AbstractJPAQuery.java
  querydsl-jpa/src/test/java/com/querydsl/jpa/JPABase.java
Labels: jpa

#2667 Support HQL Subquery Insert Clause
  querydsl-jpa/src/main/java/com/querydsl/jpa/JPQLSerializer.java
  querydsl-jpa/src/main/java/com/querydsl/jpa/hibernate/HibernateInsertClause.java
  querydsl-jpa/src/main/java/com/querydsl/jpa/impl/JPAInsertClause.java
  querydsl-jpa/src/test/java/com/querydsl/jpa/IntegrationBase.java
Labels: feature, hibernate, jpa

#2708 [#2666] Clearer exception for using unsupported SQL Expressions in JPQL
  CHANGELOG.md
  querydsl-core/src/main/java/com/querydsl/core/support/SerializerBase.java
  querydsl-jpa/src/main/java/com/querydsl/jpa/JPQLSerializer.java
Labels: jpa

#2687 [#2686] Kotlin extension methods
  pom.xml
  querydsl-kotlin/pom.xml
  querydsl-kotlin/src/main/kotlin/com/querydsl/kotlin/ExpressionExtensions.kt
  querydsl-kotlin/src/test/kotlin/com/querydsl/kotlin/CollectionTest.kt
Labels: feature

#2627 Prevent ExtendedBeanSerializer from generating 2 toString methods
  CHANGELOG.md
  querydsl-sql-codegen/src/main/java/com/querydsl/sql/codegen/ExtendedBeanSerializer.java
  querydsl-sql-codegen/src/test/java/com/querydsl/sql/codegen/ExtendedBeanSerializerTest.java
Labels: codegen, sql

#2726 [#2612] Support Jakarta EE through Eclipse Transformer
  CHANGELOG.md
  querydsl-apt/pom.xml
  querydsl-apt/src/main/jakarta.xml
  querydsl-apt/src/main/java/com/querydsl/apt/hibernate/HibernateAnnotationProcessor.java
  querydsl-apt/src/main/java/com/querydsl/apt/jpa/JPAAnnotationProcessor.java
  querydsl-codegen/src/main/java/com/querydsl/codegen/PropertyHandling.java
  querydsl-jpa-codegen/pom.xml
  querydsl-jpa/pom.xml
Labels: feature, jpa
